@model NorthwindTraders.Models.Customer

<div>
    <p><b>ID:</b> @Model.CustomerID</p>
    <p><b>Company:</b> @Model.CompanyName</p>
    <p><b>Contact:</b> @Model.ContactName</p>
    <p><b>Contact Title:</b> @Model.ContactTitle</p>
    <p><b>Phone:</b> @Model.Phone</p>
    <p><b>Address:</b> @Model.Address</p>
    <p><b>City:</b> @Model.City</p>
    <p><b>Region:</b> @Model.Region</p>
    <p><b>Postal Code:</b> @Model.PostalCode</p>
    <p><b>Country:</b> @Model.Country</p>
    <p><b>Fax:</b> @Model.Fax</p>
</div>

